@using SalesWebMvc.Models;
@model IEnumerable<IGrouping<Department, SalesRecord>>

@{
    ViewData["Title"] = "Grouping Search";
    DateTime minDate = DateTime.Parse(ViewData["minDate"] as string);
    DateTime maxDate = DateTime.Parse(ViewData["maxDate"] as string);
}

<h2>@ViewData["Title"]</h2>

<nav class="navbar navbar-inverse">
    <form class="navbar-form navbar-left d-flex gap-2" role="search">
        <div class="input-group">
            <label class="input-group-text" for="minDate">Min Date</label>
            <input class="form-control" type="date" class="form-control" name="minDate" id="minDate" value=@ViewData["minDate"]>
        </div>
        <div class="input-group">
            <label class="input-group-text" for="maxDate">Max Date</label>
            <input class="form-control" type="date" class="form-control" name="maxDate" id="maxDate" value=@ViewData["maxDate"]>
        </div>
        <button type="submit" class="btn btn-success">Filter</button>
    </form>
</nav>

@foreach (var departmentGroup in Model)
{
    <div class="card mb-5 border-dark">
        <div class="card-header text-white bg-dark">
            <h3>Department @departmentGroup.Key.Name, Total sales = @departmentGroup.Key.TotalSales(minDate, maxDate).ToString("F2")</h3>
        </div>
        <div class="card-body">
            <table class="table table-striped table-hover">
                <thead>
                    <tr class="table-success">
                        <th>
                            Date
                        </th>
                        <th>
                            Amount
                        </th>
                        <th>
                            Seller
                        </th>
                        <th>
                            Status
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in departmentGroup)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Date)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Amount)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Seller.Name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Status)
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
}